.top_section {
    background-color: #3234B6;
    width: 779px;
    border-radius: 8px;
    height: 119px;
}
.name_first {
    font-size: 30px;
    font-style: normal;
    line-height: 44px;
    font-weight: 700;
}
.name {
    padding: 10px 23px 10px;
    color: #FFFFFF;
   
}
.cards {
    width: 313px;
    height: 445px;
    /* left: 1017px; */
    /* top: 348px; */
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    border-radius: 10px;
}