<app-nav-bar></app-nav-bar>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="top_section">
    <div>
        <img style="float: right;
        height: 130px!important;" src="../assets/Group.svg">
    </div>
    <div class="name">
        <span class="name_first">
        Hello Aditiya,
    </span>
        <br>
        <span class="welcome">Welcome to the Dashboard</span>
        <br>
        <span class="view">View, create and manage your datas here</span>
        
    </div>
   


</div>

<div class="cards">
    <div>
        <img src="../assets/avatar.svg">
    </div>
    <div style="margin: -25px 85px 0;">
        <img src="../assets//pencil.svg">
    </div>
    <div style="font-family: Sofia Pro;color: #202A3C;font-weight: 900;font-size:25px;line-height: 25px;">
        Aditya Narayan
    </div> 
    &nbsp;
    <div style="font-family: Sofia Pro;font-weight: 400;font-size:15px;line-height: 15px;">
        Admin ID: 2053301
    </div>
    &nbsp;
    <div style="border: 1px solid #AAAAAA;width: 297px;height: 0px;">

    </div>
    <div style="color: #202A3C;font-family: Sofia Pro;font-weight: normal;
    font-size: 15px;">
        My Activity
    </div>
    <div>
        36
        <p>Centers</p>
    </div>
    <div>
        154
        <p>Courses</p>
    </div>
    <div>
        20
        <p>Batch</p>
    </div>
</div> -->